fit-mix-MLB-nimble.png
fit-mix-MAN-nimble.png
fit-mix-DR585-nimble.png
fit-mix-DR591-nimble.png
fit-mix-MDP-nimble.png
fit-unmix-density-MDP-nimble.png
fit-unmix-density-MLB-nimble.png
fit-unmix-density-T1135-nimble.png
fit-unmix-density-T693-nimble.png
fit-unmix-density-T755-nimble.png
fit-unmix-density-T958-nimble.png
fit-unmix-density-T978-nimble.png
fit-unmixing-nimble.png
fit-mix-GSB-nimble.png
fit-mix-T1135-nimble.png
fit-mix-T693-nimble.png
fit-mix-T755-nimble.png
fit-mix-T958-nimble.png
fit-mix-T978-nimble.png
fit-mix-density-DR584-nimble.png
fit-mix-density-DR585-nimble.png
fit-mix-density-DR591-nimble.png
fit-mix-density-GSB-nimble.png
fit-mix-density-MAN-nimble.png
fit-mix-density-MDP-nimble.png
fit-mix-density-MLB-nimble.png
fit-mix-density-T1135-nimble.png
fit-mix-density-T693-nimble.png
fit-mix-density-T755-nimble.png
fit-mix-density-T958-nimble.png
fit-mix-density-T978-nimble.png
fit-unmix-density-DR584-nimble.png
fit-unmix-density-DR585-nimble.png
fit-unmix-density-DR591-nimble.png
fit-unmix-density-GSB-nimble.png
fit-unmix-density-MAN-nimble.png
fit-mix-DR584-nimble.png
age-mixing-model.png
all-data.png
fit-mix-cdf-data-nimble.png
fit-mix-cdf-sim-nimble.png
fit-nimble.png
fit-unmix-cdf-data-nimble.png
fit-unmix-cdf-sim-nimble.png
fit-unmix-data-nimble.png
fit-unmix-daughters-data-nimble.png
fit-unmix-daughters-sim-nimble.png
fit-unmix-sim-nimble.png
sim-density-nimble.png
sim-fit-nimble.png
sim-parents.png
sim-unmixing-nimble.png
weighted-age-mixing-model-filled.png
weighted-age-mixing-model.png
mixing-ci-nimble.png
mixing-density-nimble.png
